button {
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
}

div {
    font-family: "Gill Sans", sans-serif;
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
}

.card-basic {
    margin: 5%;
    padding: 16px;
    border-radius: 4px;
    background-color: lavender;
    border-width: 1px;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
}

.card-login-layout {
    display: inline-grid;
}

.img-btn {
    width: 80px;
}
